.container__menu-bar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li {
  margin: 20px;
  list-style: none;
}

.container__menu-bar > ul > li > a {
  text-decoration: none;
}

.container__menu-bar > ul > li > a:hover {
  text-decoration: none;
  color: rgb(209, 209, 209);
}
